name: Deploy Telegram Bot

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            export TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}
            export OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}
            export ENV_FOR_DYNACONF=production
            cd ./word-trainer
            git fetch
            git checkout ${{ github.sha }}
            docker-compose build
            docker-compose up -d
